@import url('https://fonts.googleapis.com/css?family=Amatic+SC|EB+Garamond&display|Playfair+Display&display=swap');// Body
@import '~@fortawesome/fontawesome-free/css/all.min.css';
$body-bg: #f8fafc;

// Typography
$font-family-amatic-sc: 'Amatic SC', cursive;
$font-family-eb-garamond: 'EB Garamond', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$card-font: 'Playfair Display', serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
